<div class="container error">
  <header>
    <p><strong>Cannot find page</strong></p>
  </header>
  <div class="message">
    <p>We couldn't not find the payment page you were looking for.</p>
  </div>
</div>