<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @transaction.stack.product_name %>: A new file is available for download</h1>

    <p><%= link_to 'You can download your file here', download_url(:token => @transaction.transaction_token), :target => "_blank" %>.</p>

    <p>If there are any problems, please contact the seller via <%= mail_to @transaction.stack.seller_email, 'email' %>.</p>

    <p>Thanks,<br />Payly</p>
  </body>
</html>