.devise-registrations-new {
  @include pie-clearfix();
  width: 960px;
  min-height: 670px;
  margin: 0 auto;
  .main {
    width: 57.2916667%;
    float: left;
    ul {
      @include pie-clearfix();
      text-align: center;

      li {
        display: inline-block;
        padding: 0 $gutter*2;
        color: #7F8C8D;
        font-size: 12px;

        a {
          color: #2C3E50;

          &:hover {
            color: #2C3E50;
          }
        }
      }
    }
  }
  form {

    .field {
      label {
        width: 30%;
      }
      .input {
        width: 70%;
      }
    }
    footer {
      padding: $gutter;
      text-align: center;

      input{
        float: none;
      }
    }
  }
  .signup__header {
    margin-bottom: 30px;
  }
  .signup__title {
    font-family: 'Roboto';
    font-size: 48px;
    line-height: 62px;
    font-weight: 100;
  }
  $gutter--sidebar: $gutter * 1.5;
  .sidebar {
    width: 36.4583333%;
    float: right;
  }

  .sidebar__header {
    margin-bottom: $gutter--sidebar;
  }
  .sidebar__title {
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 30px;
    font-weight: 100;
  }

  .feature {
    border-bottom: 1px solid #ECF0F1;
    margin-bottom: $gutter--sidebar;
  }
  .feature__header {
    margin-bottom: $gutter--sidebar;
  }
  .feature__title {
    font-weight: bold;
  }
  .feature__text {
    margin-bottom: $gutter--sidebar;
  }
}

.devise-sessions-new,
.devise-passwords-new,
.devise-passwords-edit {
  .main {
    width: 600px;
    margin: 0 auto $gutter*2 auto;

    ul {
      @include pie-clearfix();
      text-align: center;

      li {
        display: inline-block;
        padding: 0 $gutter*2;
        color: #7F8C8D;
        font-size: 12px;

        a {
          color: #2C3E50;

          &:hover {
            color: #2C3E50;
          }
        }
      }
    }

    header {
      padding: $gutter;
      border-bottom: 1px solid #BDC3C7;
      background-color: lighten(#BDC3C7, 20%);

      @include border-radius(3px 3px 0 0);
      @include pie-clearfix();

      p {
        color: #34495E;
        line-height: 25px;
        text-align: center;

        strong {
          display: block;
          font-weight: bold;
        }
        small {
          display: block;
          font-size: 14px;
          color: lighten(#34495E, 10%);
        }
      }
    }
  }


  form {

    .field {
      label {
        width: 40%;
      }
      .input {
        width: 60%;
      }
    }
    footer {
      padding: $gutter;
      text-align: center;

      input{
        float: none;
      }
    }
  }
}

@media (max-width: 980px) {
  .devise-registrations-new {
    width: auto;
    margin: 0;
    padding: 0 $gutter;
    min-height: 0;
    .main,
    .sidebar {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 620px) {
  .devise-registrations-new {
    .main,
    .sidebar {
      width: 100%;
      float: none;
      margin-bottom: 20px;
    }
  }
  .devise-sessions-new,
  .devise-passwords-new,
  .devise-passwords-edit {
    .main {
      width: auto;
      padding: 0 $gutter;
      margin: 0;
    }
  }
}

@media (max-width: 550px) {
  .devise-registrations-new,
  .devise-sessions-new,
  .devise-passwords-new,
  .devise-passwords-edit {
    form {

      .field {

        label {
          width: 100%;
        }
        .input {
          width: 100%;
        }
      }
    }
  }
}