.page {
  article {
    width: 528px;
    margin: $gutter*2 auto;
    background-color: #fff;
    border: 1px solid #BDC3C7;

    @include box-shadow(0px 0px 5px #BDC3C7);
    @include border-radius(3px);

    header {
      padding: $gutter;
      border-bottom: 1px solid #BDC3C7;
      background-color: #f4f5f6;
      @include border-radius(3px 3px 0 0);

      @include pie-clearfix();

      figure {
        width: 28.409%;
        float: left;
        margin-right: $gutter*2;

        img {
          width: 100%;
          height: auto;
          vertical-align: bottom;
        }
      }
      h1 {
        width: 63.636%;
        float: right;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 20px;
        position: relative;
        padding-right: 20px;

        i {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 11px;
          color: #27AE60;
        }
      }
      .cost {
        width: 63.636%;
        float: right;
        display: block;
      }
      p {
        width: 63.636%;
        float: right;
        color: #7F8C8D;
        line-height: 20px;
        font-size: 14px;
        margin-bottom: $gutter/2;
      }
    }
  }

  .success {
    padding: $gutter*2;

    h1 {
      font-size: 24px;
      color: #27AE60;
      margin-bottom: $gutter*2;
      line-height: 30px;
    }
    p {
      line-height: 24px;

      &.link {
        padding-top: $gutter;
      }
    }
  }

  .made-by {
    text-align: center;
    height: $gutter*5 + 4;
    width: 200px;
    margin: 0 auto;
    padding-top: 4px;
    line-height: 45px;
    margin-bottom: $gutter*2;
    background-color: #fff;
    background-position: left top;
    background-repeat: repeat-x;
    border-bottom: 1px solid  #BDC3C7;
    font-size: 14px;
    color: #7F8C8D;
    border: 1px solid #BDC3C7;

    @include box-shadow(0px 0px 5px #BDC3C7);
    @include background-image(linear-gradient(left, #8E44AD, #8E44AD 20%, #3498DB 20%, #3498DB 40%, #F1C40F 40%, #F1C40F 60%, #E74C3C 60%, #E74C3C 80%, #E67E22 80%));
    @include background-size(200px 4px);
    @include border-radius(3px);

    a {
      color: #27AE60;
      text-decoration: none;
      font-size: 25px;
      font-family: 'Damion';
    }
  }

  .error {
    border: 1px solid #c29d0b;

    header {
      background-color: #F1C40F;
      border-bottom: 1px solid #c29d0b;
      text-align: center;

      p {
        color: #614f06;
        width: 100%;
        float: none;
        font-size: 16px;
        margin-bottom: 0;

        strong {
          font-weight: bold;
        }
      }
    }
    .message {
      padding: 20px 20px 0 20px;
      p {
        text-align: center;
        color: #614f06;
        font-size: 14px;
        padding-bottom: 20px;
      }
    }
  }

  @media (max-width: 548px) {
    article {
      width: auto;
      margin: $gutter;
    }
  }

  @media (max-width: 320px) {
    article {
      header {
        figure {
          margin: 0 auto $gutter*2 auto;
          float: none;
          width: 150px;
        }
        h1,
        .cost,
        p {
          float: none;
          width: 100%;
        }
      }
    }
  }
}