.page {
  background-color: #fff;

  .banner {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    height: 192px;
    background-size: cover;
    background-color: #BDC3C7;
    background-position: center;
  }

  article {
    width: 528px;
    margin: $gutter*2 auto;
    background-color: #fff;
    border: 1px solid #BDC3C7;

    @include border-radius(0 0 3px 3px);

    header {
      position: relative;
      z-index: 10;
      text-align: center;
      margin-top: 90px;
      border-bottom: 1px solid #BDC3C7;
      figure {
        margin-bottom: 1em;
        img {
          width: 120px;
          height: 120px;
          vertical-align: bottom;
          border: 3px solid #fff;
          background-color: #fff;
        }
      }
      h1 {
        margin-bottom: 2px;
        font-size: 24px;
        font-weight: bold;
      }
      p {
        color: #7F8C8D;
        line-height: 20px;
        font-size: 14px;
        margin-bottom: 10px;

        &.seller {
          font-size: 12px;
          margin-bottom: 5px;
        }
        &.price {
          .cost {
            font-size: 24px;
          }
        }
        &.surcharge {
          font-size: 12px;
        }
      }
    }
    .description {
      border-top: 1px solid #BDC3C7;
      padding: 20px 10px;
      p {
        margin-bottom: 0;
        color: #34495E;
      }
    }
  }

  .success {
    padding: $gutter*2;

    h1 {
      font-size: 24px;
      color: #27AE60;
      margin-bottom: $gutter*2;
      line-height: 30px;
    }
    p {
      line-height: 24px;

      &.link {
        padding-top: $gutter;
      }
    }
  }

  .made-by {
    text-align: center;
    height: $gutter*5 + 4;
    width: 200px;
    margin: 0 auto;
    padding-top: 4px;
    line-height: 45px;
    margin-bottom: $gutter*2;
    background-color: #fff;
    background-position: left top;
    background-repeat: repeat-x;
    border-bottom: 1px solid  #BDC3C7;
    font-size: 14px;
    color: #7F8C8D;
    border: 1px solid #BDC3C7;

    @include background-image(linear-gradient(left, #8E44AD, #8E44AD 20%, #3498DB 20%, #3498DB 40%, #F1C40F 40%, #F1C40F 60%, #E74C3C 60%, #E74C3C 80%, #E67E22 80%));
    @include background-size(200px 4px);
    @include border-radius(3px);

    a {
      color: #27AE60;
      text-decoration: none;
      font-size: 25px;
      font-family: 'Damion';
    }
  }

  .error {
    border: 1px solid #c29d0b;

    header {
      background-color: #F1C40F;
      border-bottom: 1px solid #c29d0b;
      text-align: center;

      p {
        color: #614f06;
        width: 100%;
        float: none;
        font-size: 16px;
        margin-bottom: 0;

        strong {
          font-weight: bold;
        }
      }
    }
    .message {
      padding: 20px 20px 0 20px;
      p {
        text-align: center;
        color: #614f06;
        font-size: 14px;
        padding-bottom: 20px;
      }
    }
  }

  form {
    position: relative;
    footer {
      text-align: center;

      .primary-action {
        float: none;
      }
    }
  }

  @media (max-width: 548px) {
    article {
      width: auto;
      border: 0 0 1px 0;
      .banner {
        height: 96px;
      }
      header {
        margin-top: 28px;
        figure {
          img {
            width: 72px;
            height: 72px;
          }
        }
        h1 {
          margin-bottom: 2px;
          font-size: 20px;
          font-weight: bold;
        }
        p {
          color: #7F8C8D;
          line-height: 20px;
          font-size: 14px;
          margin-bottom: $gutter/2;

          &.seller {
            font-size: 12px;
            margin-bottom: 5px;
          }
          &.price {
            .cost {
              font-size: 20px;
            }
          }
          &.surcharge {
            font-size: 12px;
          }
        }
      }
    }
  }
}