@import "compass";
@import "basic/_variables";
@import "basic/_mixins";

.api-error {
  padding: $gutter*2; 
  margin-bottom: $gutter*1.5;
  background-color: #F1C40F;
  border: 1px solid darken(#F1C40F, 10%);
  color: darken(#F1C40F, 30%);

  @include border-radius(3px);
  @include box-shadow(0px 0px 5px #BDC3C7);

  p {
    font-size: 13px;
    line-height: 20px;

    a {
      color: darken(#F1C40F, 30%);

      &:hover {
        color: darken(#F1C40F, 40%);
      }
    }
  }
}