<h1 class="page-title"><i class="icon-copy"></i> Pages</h1>

<div class="container">
  <header>
    <p><strong>New Page</strong>
  </header>
  <div class="selection">
    <ul>
      <li>
        <a href="/pages/new/one-time">
          <i class="icon icon-exchange"></i>
          <span class="text">One Time</span>
        </a>
      </li>
      <li>
        <a href="/pages/new/digital-download">
          <i class="icon icon-download-alt"></i>
          <span class="text">Digital Download</span>
        </a>
      </li>
    </ul>
  </div>
</div>