<div class="container error">
  <header>
    <p><strong>You cannot create any more pages</strong></p>
  </header>
  <div class="message">
    <p>Under your current plan, you have already met the limit of how many pages you can create. If you are requiring more pages, please contact us.</p>
  </div>
</div>
