<h1 class="page-title"><i class="icon-money"></i> Purchases</h1>

<div class="container">
  <header>
    <p><strong>Purchase</strong></p>
  </header>

  <%= render "transactions/item", :transaction => @transaction %>
</div>
