<div class="pricing">
  <h2>Pricing</h2>
  <p>It's free! Unlimited Pages with digital delivery of files!</p>
  <%= link_to "Sign up • Free", new_user_registration_path, :class => "button" %>
  <p class="pin">Transactions are subject to the additional transaction charges of your payment provider.<br />Pin Payments' additional transaction charges are 3% + 30c per transaction.<br />Braintree’s additional transaction charges for Australians are 2.4% + 30c per transaction.<br />Stripe's additional transaction charges for Australians are 2.7% + 30c per transaction.</p>
</div>