<div class="pricing">
  <h2>Pricing</h2>
  <p>It's free! Unlimited Pages with digital delivery of files!</p>
  <%= link_to "Sign up • Free", new_user_registration_path, :class => "button" %>
  <p class="pin">Transactions are subject to the <%= link_to "additional transaction charges of your payment provider", "/faqs#additional-transaction-charges" %>.</p>
</div>