<section class="home-commitment">
  <div class="main">
    <article>

      <div class="page commitment">
        <header>
          <h1>Commitment to Openness</h1>
        </header>

        <div class="content">
          <p>One of our commitments is to be as open as possible about what Payly is doing currently and where it is going in the future. We believe in transparency in terms of what is happening with your money. We are deeply inspired by the work of companies like Balanced and Gittip, who have an open policy.</p>
          <p>For this reason, we have put two things in place for you to gain greater knowledge of the workings of Payly.</p>
          <h2>Open-Source code</h2>
          <p>We have open-sourced the code the runs Payly. It can be found on <a href='https://github.com/paylyapp/www.payly.co' target='_blank'>github</a>. You can report issues, help out with writing code, make comments of pull requests. </p>
          <h2>New features</h2>
          <p>We have a <a href='https://trello.com/b/rpK0Xk4h/www-payly-co' target='_blank'>trello board</a> set up where we introduce anything new to Payly first. This means you can follow the progress of any new features to Payly easily.</p>
          <p>Our hope is that through our commitment to being open, Payly will become a trusted brand.</p>
        </div>
      </div>

      <%= render 'pricing' %>

    </article>
  </div>
</section>