<section class="home-features">
  <div class="main">
    <article>

      <div class="page">
        <header>
          <h1>Features</h1>
        </header>

        <div class="content">

          Payment providers
            Pin Payments
            Braintree
          Page features
            Customise the content in your page
            Visibility
            Shipping cost
            Automated emails
            Digital Delivery of files
            Simple Analytics
              simple data shown of how your page is performing
              Add your own analytics
          Security features
            SSL encryption
            No credit cards stored
            Encrypted data
            Hosted securely
          Looks good everywhere
            Be mobile
              save to homescreen
              Acts like an app
            Be stationary
              Payment feeds
          Pocket
            See what you have purchased
            contact the seller

        </div>
      </div>

    </article>
  </div>
</section>