<div class="page">
  <header>
    <h1>Privacy Policy</h1>
    <p class="last-revised">Last revised: 8th June 2013</p>
  </header>

  <div class="content">

    <h2>Gathering and Use of Information</h2>
    <p>Payly will only collect your personal information when you purchase Payly products, or when you voluntarily sign-up for a membership account, or when you sign-up for a mailing list. Information collected from you will never be sold, rented, or shared with third-parties.</p>

    <h2>Cookies</h2>
    <p>The Payly website utilizes "cookies". A "cookie" is a small text file that permits us to recognize your browser in order to customize your experience, or permit you to access restricted areas. Cookies do not contain personal information.</p>

    <h2>IP Address</h2>
    <p>Your Internet Protocol ("IP") address is usually associated with the place from which you enter the Internet, like your Internet Service Provider, your company or your university. Your IP address may be used to help diagnose problems with Payly servers, gather broad demographic information, and administer the Payly web site and service.</p>

    <h2>Mailing Lists</h2>
    <p>As a member of our Web site you may occasionally receive an email newsletter informing you of new products and services. You may choose not to receive further email messages by clicking the "unsubscribe" link at the bottom of every email.</p>

    <h2>Commitment</h2>
    <p>Payly is committed to privacy and support industry initiatives to preserve individual privacy rights on the Internet.</p>

  </div>
</div>