<section class="home-terms">
  <div class="main">
    <article>

      <div class="page">
        <header>
          <h1>Terms of Service</h1>
          <p class="last-revised">Last revised: 7th August 2013</p>
        </header>

        <div class="content">
          <p>"Payly" refers to the Service available on www.payly.co and all subdomains. "We" or "I" refers to the owner(s) of the Service.</p>

          <h2>Ownership:</h2>
          <p>Tim Gleeson<br />
          Email: tim@payly.co</p>

          <p>Payly reserves the right to update and change the Terms of Service from time to time without notice. Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes. You can review the most current version of the Terms of Service at any time at this URL.</p>

          <p>Violation of any of the terms below may result in immediate termination of your Service account.</p>

          <h2>Account Terms</h2>

          <p>Accounts registered by automated methods are not permitted and will be deleted immediately without notice.</p>

          <p>You must provide your legal full name, a valid email address, and any other pertinent information requested in order to complete the signup process.</p>

          <p>You are responsible for maintaining the security of your account and password. Payly cannot and will not be liable for any loss of information or security breaches that result from your failure to comply with this security obligation.</p>

          <p>You are hereby considered fully responsible for all content posted and any and all activity that occurs under your account.</p>

          <p>You may not use the Service for any illegal activities. You must not, in your use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws). Should you engage in any illegal activites through the Service, you agree to hold Payly blameless and not liable for any damages or crimes that may occur as a result. You will also have your account immediately shut down, and all data there-in deleted.</p>

          <p>Your account is limited to the number of Payment Pages allotted to the particular plan you've signed up on. When your account reaches it's limit, you will no longer be able to add new Payment Pages.</p>

          <p>You understand that the Service uses two 3rd party payment processors, Pin Payments (http://pin.net.au) and Braintree (http://braintreepayments.com) to handle payment transactions, and that all monetary transactions made through your use of the Service are subject to any fees that either Pin Payments or Braintree may charge.</p>

          <h2>Payment and Refund Terms</h2>

          <p>A valid credit card is required for paying accounts. A credit card is not required upon initial sign up.</p>

          <p>The Service bills on the first day of each month. Accounts are not prorated, you will be billed for your total useage each month on the first day of the following month.</p>

          <p>All fees exclude any taxes, levies, or duties imposed by taxing authorities, and you shall be responsible for payment of all such taxes, levies, or duties.</p>

          <p>We strive to carry out this service with due skill and care. If however, we fail in this obligation you may be entitled to a refund under Australian Law.</p>

          <h2>Cancellation and Termination</h2>

          <p>You are solely responsible for properly cancelling your account. A request to cancel your account via email, phone, Twitter, carrier-pigeon is not considered cancellation. You can cancel your account at any time by visiting http://payly.co/settings/. Here you will find access to a simple, no questions asked cancellation link.</p>

          <p>All of your Content will be deleted from the Service upon cancellation, including but not limited to images, comments, annotations and settings. This information can not be recovered once your account is cancelled.</p>

          <p>Payly, in its sole discretion, has the right to suspend or terminate your account and refuse any and all current or future use of the Service for any reason at any time. Such termination of the Service will result in the deactivation or deletion of your Account or your access to your Account, and the forfeiture and relinquishment of all Content in your Account. Payly reserves the right to refuse service to anyone for any reason at any time.</p>

          <h2>Copyright and Content Ownership</h2>

          <p>We claim no intellectual property rights over the material you provide to the Service. Your profile and materials uploaded remain yours. However, by setting your pages to be viewed publicly, you agree to allow others to view your Content.</p>

          <p>You shall defend Payly against any claim, demand, suit or proceeding made or brought against Payly by a third party alleging that Your Content, or Your use of the Service in violation of this Agreement, infringes or misappropriates the intellectual property rights of a third party or violates applicable law, and shall indemnify Payly for any damages finally awarded against, and for reasonable attorney’s fees incurred by, Payly in connection with any such claim, demand, suit or proceeding; provided, that Payly (a) promptly gives You written notice of the claim, demand, suit or proceeding; (b) gives You sole control of the defence and settlement of the claim, demand, suit or proceeding (provided that You may not settle any claim, demand, suit or proceeding unless the settlement unconditionally releases Payly of all liability); and (c) provides to You all reasonable assistance, at Your expense.</p>

          <p>Payly does not pre-screen Content, but have the right (but not the obligation) in their sole discretion to refuse or remove any Content that is available via the Service. Payly have the ability to view and remove any Content you provide to the Service.</p>

          <p>The look and feel of the Service is copyright ©2013 Tim Gleeson. All rights reserved. You may not duplicate, copy, or reuse any portion of the HTML/CSS, Javascript, or visual design elements or Service concept without express written permission from the Owner.</p>

          <h2>General Conditions</h2>

          <p>Your use of the Service is at your own risk. The service is provided on an "as is" and "as available" basis.</p>

          <p>Technical support is available to account holders and is only available via our twitter account.</p>

          <p>You acknowledge and understand that Payly uses third party vendors to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.</p>

          <p>You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service or Payly.</p>

          <p>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service.</p>

          <p>Verbal, physical, written or other abuse (including threats of abuse or retribution) of any Payly employee, member, or officer will result in immediate account termination and potential criminal charges.</p>

          <p>Payly does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, or error-free, (iii) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations.</p>

          <p>You expressly understand and agree that Payly shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if Payly has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.</p>

          <p>You expressly understand and agree that Payly shall not be liable for any payments and monetary transactions that occur through your use of the Service. You expressly understand and agree that all payments and monetary transactions are handled by the 3rd party payment platform the Service uses: Pin Payments (https://pin.net.au) and Braintree (http://braintreepayments.com). You agree Payly shall not be liable for any issues regrarding financial and monetary transactions between you and any other party.</p>

          <p>The failure of Payly to aggressively enforce any right or provision of the Terms of Service shall not be construed as a waiver of such right or provision. The Terms of Service outlines the entire agreement between you and Payly and supersedes any prior agreements between you and Payly including prior iterations of the Terms of Service.</p>

        </div>
      </div>

    </article>
  </div>
</section>