<section class="home-thank_you">
  <div class="main">
    <article>

      <div class="page">
        <header>
          <h1>Thanks for signing up</h1>
        </header>

        <div class="content">
          <p>Hey, thanks for signing up to Payly.</p>
          <p>We've sent you a confirmation email which has a link for you to login to your dashboard.</p>
          <p>While you wait, if you haven't already, you should sign up to one of our payment providers:</p>
          <ul>
            <li><a href="http://www.pin.net.au">Pin Payments</a></li>
            <li><a href="http://www.braintreepayments.com">Braintree</a></li>
            <li><a href="http://www.stripe.com">Stripe</a></li>
          </ul>
          <p><em>Tim Gleeson</em></p>
        </div>
      </div>
    </article>
  </div>
</section>