<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Pocket</p>
    <p>
      Please follow this link to confirm who you are:
    </p>
    <p>
      <%= @url %>
    </p>
    <p>You have received this email because your email address was entered through Payly Pocket.</p>
  </body>
</html>