//
// NAVIGATION
// ==========
//

.navigation {

}
.navigation__item {

}


.navigation--inline {
  @include pie-clearfix();
}
.navigation__item--inline {
  float: left;
}

.navigation__item--has-dropdown {
  position: relative;
}
.navigation--dropdown {
  position: absolute;
  left: -9999em;

  .navigation__item--has-dropdown:hover & {
    left: auto;
  }
}
.navigation__item--dropdown {
}