<div class='card_errors notification notification-danger' style='display:none'>
  <h3></h3>
  <ul></ul>
</div>

<% if transaction.errors.any? %>
  <div id="error_explanation" class="notification notification-danger">
    <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this page from being saved:</h2>

    <ul>
    <% transaction.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if flash[:status] %>
<div class="notification notification-danger">
  <p><%= flash[:status] %></p>
</div>
<% end %>
