%li.feed-item
  = link_to edit_page_path(stack.stack_token) do
    %figure
      = image_tag stack.primary_image.url(:tiny), :width => '42', :height => '42'
    %p
      #{content_tag :i, '', :class => stack.has_digital_download ? 'icon-download-alt' : 'icon-exchange'} #{stack.product_name}