.page
  .page__header
    .page__header__title
      %h1 Pages

  .page__content
    - if @entity.stacks.empty?
      %header
        %strong Create your first payment page
      .selection
        %ul
          %li
            = link_to new_one_time_page_path do
              %i.icon-exchange
              %span.text One Time
          %li
            = link_to new_digital_download_page_path do
              %i.icon-download-alt
              %span.text Digital Download
    - else
      %header
        .button-group
          = link_to new_page_path, :class => "first last primary" do
            New Page

      #{render "entity/pages/list", :stacks => @stacks}