<section class="customer-create">
  <div class="main">
    <article>

      <h1>Thank you</h1>
      <p>We've sent a confirmation email to <%= @customer.email %> with a link to confirm who you are.</p>

    </article>
  </div>
</section>
