<section class="customer-form">
  <div class="main">
    <h1>Pocket</h1>
    <p>Pocket allows you to view the purchases you've made through Payly.</p>
    <p>Enter your email below and we will send you a confirmation email with a link to your purchases.</p>

    <article class="container">

      <%= form_for @customer, :url => pocket_path, :html => {:autocomplete => "off"} do |f| %>
        <div class="field field-text field-email">
          <%= f.label :email, "Email" %>
          <div class="input">
            <%= f.email_field :email %>
          </div>
        </div>

        <footer class="actions">
          <div class="button-group">
            <%= f.submit 'View my pocket', :class => 'primary-action' %>
          </div>
        </footer>
      <% end %>

    </article>
  </div>
</section>
