<section>
  <div class="main">
    <h1>Pocket</h1>

    <article class="container">
      <h1>Customer#transaction</h1>
      <p>Find me in app/views/customer/transaction.html.erb</p>
    </article>
  </div>
</section>