<!DOCTYPE html>
<html class="no-js">
  <head>
    <%= render "layouts/transactions/document-head", {:pre_title => 'Subscribe', :stack => @stack} %>
  </head>

  <body class="page">
    <%= yield %>

    <footer class="global">
      <div class="made-by">
        Powered by <%= link_to "Payly", root_path %>
      </div>
    </footer>

    <%= analytics_init if Rails.env.production? %>
  </body>
</html>
